{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Register{% endblock %}

{% block content %}
    <section>
        {{ form_start(registrationForm) }}
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <button class="btn btn-lg btn-primary mt-3" type="submit">Register</button>
        {{ form_end(registrationForm) }}
    </section>
{% endblock %}